<div id="document-manager-panel">
<!-- Note: use this div for the transistions -->
  <article class="panel-message about-panel">
    <h3>Description:</h3>
    <p>
      The goal of this project is to provide a tool that combine the features from doodle and a standard calendar (ie: Google calendar).<br/>
      Users can create items (like a normal calendar), but additionally a user can invite other people to an item.<br/>
      Users can upload files (ie: pdf files, images) to an item, either private (only uploader has access) or shared (alle users that are sharing an item have access).<br/>
    </p>
    <p>
      Managing new accounts is always considered as a boring task.<br/>
      We do hope to integrate our web-service with the applications already available on the market (g+, Facebook, etc).<br/>
      Finally, as being a proof of concept for a course, our project targets the latest technologies/devices.<br/>
    </p>
    <h3>Credits:</h3>
    <p>
      This project started at Lulea University Of Technology during the course "Design of Dynamic Web Systems - M7011E 2013"
    </p>
    
    <p>
      Authors: Jurian van Dalfsen, Jean Guegant
    </p>

    <p>
      Supervised by: Peter Parnes
    </p>
  </article>
</div>