<div id="page-number">
  <p>
    << 1/1 >>
  </p>
</div>
<div id="add-button" class="dark-blue-button toolbar-button">
	<img src="./icons/add-button.png" />
</div>
<div id="itemview-button" class="dark-blue-button toolbar-button">
	<img src="./icons/itemview-button.png" />
</div>