<article class="calendar-item remote-calendar">
    <div class="calendar-content">
      <input type="text" class="calendar-name" value="{{name}}"/>
      <br/>
      <h3>{{events_count}} events</h3>
    </div>

    <i class="dark-blue-button delete-document"> </i>
</article>