<div>
<!-- Note: use this div for the transistions -->
  <article class="file-item">
	  <div class="file-title">
		  <h3 id="upload-area">Drag a document to upload!</h3>
	  </div>
  </article>  
  <article class="file-item">
	  <div class="file-picture">
		  <img src="images/fika.jpg" width="300" height="200" />
	  </div>
	  <div class="file-title">
		  <input type="text" value="Fika with Maggie!">
	  </div>
  </article>
</div>