<div id="document-manager-panel">
<!-- Note: use this div for the transistions -->
  <article class="file-item">
	  <div class="file-title">
		  <h3 id="upload-area">Drag a document to upload!</h3>
	  </div>
  </article>
</div>