<div id="document-manager-panel">
<!-- Note: use this div for the transistions -->
  <article class="panel-message">
    <h3>Help:</h3>
    <p>
     Contact us at: jeague-3@student.ltu.se or jurvan-3@student.ltu.se
    </p>
    <h3>Bug reports / issues:</h3>
    <p>
      Please report your problems on our repository: https://github.com/JvanDalfsen
    </p>
  </article>
</div>