<div id="home-panel">
  <!-- Note: use this div for the transistions -->
  <article class="calendar-item" id ="create-calendar">
    <div class="calendar-content">
      <h2>Create a new calendar!</h2>
      <img src="/icons/add-button.png" alt="add" width="50" height="50"/>
    </div>
  </article>
</div>