<div id="document-manager-panel">
<!-- Note: use this div for the transistions -->
  <article class="panel-message">
    <h3>Welcome to My Calendar! <br/> Connect yourself in order to access our features!</h3>
  </article>
</div>