<div id="user-settings-button" class="deep-dark-blue-button avatar">
    <p>Offline</p>
    <img src="images/cartoon-avatar.png" alt="avatar" width="45" height="45"/>
</div>
<div id="user-details" class="hidable-menu">
  <p>No data</p>
</div>