<div id="user-settings-button" class="deep-dark-blue-button avatar">
    <p>{{displayName}}</p>
    <img src="images/cartoon-avatar.png" alt="avatar" width="45" height="45"/>
</div>
<div id="user-details" class="hidable-menu">
    <p>Firstname: {{ firstname }}</p>
    <p>Lastname: {{ lastname }}</p>
    <p>Last seen: {{lastConnection}}</p>
</div>