<li class="deep-dark-blue-button">
  <a href="/api/auth/logout">
    Disconnect
    <img src="icons/lock-button-small.png" alt="disconnect" width="19" height="19"/>
  </a>
</li>
<li class="deep-dark-blue-button">
  <p>
    Delete this account
    <img src="icons/close-button-small.png" alt="disconnect" width="19" height="19"/>
  </p>
</li>
