* {
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
  border: 0;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html
{
  height: 100%;
}

body
{
  background-color: hsl(200, 79%, 50%);
  position: relative;
  height: 100%;
  min-height: 100%;
  font: normal 100% 'Open Sans', Helvetica, Sans-Serif;
  font-weight: bold;
}

#main-header
{
  position:relative;
  height: 80px;
  background-color: hsl(200, 90%, 38%);
  z-index: 2;
  color: white;
  font-weight: bold;
}

#main-header nav
{
  height: 40px;
  vertical-align: middle;
  display: inline-block;
}

#main-header ul
{
  list-style: none;
}

#main-header li
{
  position: relative;
  display: inline-block;
  margin-left: 20px;
}

#user-settings-button
{
  float: left;
  z-index: 4;
  margin: 2px;
}

#main-search-bar
{
  position: absolute;
  bottom: 5px;
  width: 20%;
}

#main-search-bar input
{
  height: 25px;
  width: 100%;
  padding: 2px 2px 2px 25px;
  background: url('../icons/search-button.svg') -8px 50% #FFF no-repeat;
  font-weight: bolder;
}

#logo
{
  font-size: 2em;
}

#main-menu
{
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 3;
  background-color: hsl(200, 90%, 25%);
  height: 100%;
  width: 80px;
  color: white;
  font-weight: bold;
}

#user-info p
{
  margin: 4px 10px 4px 10px;
  text-align: center;
  font-size: 12px;
  padding: 2px;
}

.main-sub-menu
{
  clear: both;
  margin: 90px 2px 90px 2px;
  list-style: none;
}

.main-sub-menu li
{
  padding: 5px;
}

.main-sub-menu li img
{
  float: right;
}

#toolbar
{
  position: relative;
  height: 80px;
  background-color: hsl(200, 79%, 50%);
  color: white;
}

#page-number
{
  position: absolute;
  bottom: 5px;
}

#main-frame
{
  background-color: white;
  height: 70%;
}

#main-footer
{
  position: relative;
  height: 80px;
  background-color: hsl(200, 79%, 50%);
}

#copyright
{
  position: absolute;
  bottom: 10px;  
  color: hsl(0, 0%, 90%);
}

.centered
{
  margin-left: 160px;
  margin-right: 160px;
  height: 100%;
}

.dark-blue-button:hover
{
  box-shadow: 0px 3px 5px hsl(200, 90%, 25%);
  background-color: hsl(200, 90%, 35%);
}

.dark-blue-button:active, .dark-blue-button[selected]
{
  background-color: hsl(200, 90%, 25%);
}

.deep-dark-blue-button:hover
{
  box-shadow: 0px 3px 5px hsl(200, 90%, 25%);
  background-color: hsl(200, 90%, 20%);
}

.deep-dark-blue-button:active, .deep-dark-blue-button[selected]
{
  background-color: hsl(200, 90%, 15%);
}

.breadcrumb-button
{
  padding: 5px;
  display: inline-block;
  font-size: 1.5em;
}

.breadcrumb-button:after
{
  content: ' ';
  position: absolute;
  top: 0px;
  right: -40px;
  width: 0;
  height: 0;
  border: 20px solid transparent;
}

.breadcrumb-button:hover::after
{
  border-left-color: hsl(200, 90%, 35%);
}

.breadcrumb-button:active::after, .breadcrumb-button[selected]::after
{
  border-left-color: hsl(200, 90%, 25%);
}

.breadcrumb-button:before
{
  content: ' ';
  position: absolute;
  top: 0px;
  left: -21px;
  width: 0;
  height: 0;
  border: 20px solid transparent;
}

.breadcrumb-button:hover::before
{
  border-top-color: hsl(200, 90%, 35%);
  border-bottom-color: hsl(200, 90%, 35%);
}

.breadcrumb-button:active::before, .breadcrumb-button[selected]::before
{
  border-top-color: hsl(200, 90%, 25%);
  border-bottom-color: hsl(200, 90%, 25%);
}

.avatar
{
  width: 76px;
  height: 76px;
  text-align: center;
}

.avatar p
{
  margin: 1px 1px;
}

.avatar img
{
  border: 1px solid white;
}

.hidable-menu
{
  display: none;
}

.event-item
{
  position: relative;
  display: inline-block;
  width: 300px;
  height: 200px;
  margin: 5px;
  background-color: hsl(200, 79%, 50%);
  color:white;
  text-align: center;
}

.event-item:hover
{
  box-shadow: 0px 3px 5px hsl(200, 90%, 25%);
  background-color: hsl(200, 90%, 40%);
}

.event-date
{
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.event-content
{
  position: absolute;
  top: 25%;
  right: 0;
  left: 0;
}

.event-picture
{
  padding: 0px;
  margin: 0px;
  position: absolute;
  top:0;
  left:0;
}

.event-picture img:after
{
  position: absolute;
  top:0;
  left:0;
  background-color: hsl(0, 0%, 50%);
  width: 300px;
  height: 200px;
  z-index: 3;
}
